::-webkit-scrollbar {
  display: none;
}
/* .card {
  border: solid red;
  height: 200px;
  width: 170px;
} */
.App {
  width: 95%;
  margin: 15px auto;
  text-align: center;
}

.container-drag {
  gap: 20px;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  text-align: center;
  background: #eaebede5;
  justify-content: center;
}

.center,
.wip,
.droppable {
  gap: 40px;
  height: 98%;
  display: flex;
  overflow: scroll;
  padding: 0.5rem 0;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  /* padding: 30px 0 !important; */
  /*  */
}

.wip,
.droppable,
.center {
  width: 30%;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.droppable {
  width: 30%;

  align-items: flex-start;
}
.wip {
  width: 30%;
  align-items: flex-end;
}

.center {
  /* height: 100%; */
  border-right: 0.3px solid rgba(0, 0, 0, 0.266);
  border-left: 0.3px solid rgba(0, 0, 0, 0.266);
  background: inherit;
}

.center .divider {
  width: 90%;
}

.header {
  display: inline-block;
  margin: 0;
  padding: 0;
  /* background-color: #e0e0e0; */
  width: 100%;
}

.task-header {
  display: inline-block;
  background-color: skyblue;
  width: 100%;
}

.draggable {
  width: 240px;
  min-height: 300px;
  margin: 5px;
  cursor: grab;
  border-radius: 6px;
  background: #fff;
  box-sizing: content-box;
  border: 0.5px solid rgba(0, 0, 0, 0.266);
}

button {
  background: #0072b1;
}
